<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lp.billingsystem.mapper.LpUsernameMapper">

    <resultMap id="BaseResultMap" type="com.lp.billingsystem.domain.LpUsername">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="isDel" column="is_del" jdbcType="TINYINT"/>
            <result property="createdate" column="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,is_del,
        createDate
    </sql>
</mapper>
